body, html {
    margin: 10%;
    padding: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

a {
    color: black;
}

.title {
    width: 100%;
    margin: 2em;
}

header {
    text-align: center;
    font-family: "Georgia", Times, serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0px;
}

.grid a {
    display: block;
}

.grid img {
    width: 80%;
    height: auto;
}

footer {
    text-align: center;
    font-family: "Georgia", Times, serif;
    padding-bottom: 5%;
}

.contact {
    width: 100%;
    margin: 2em;
    color: black;
}
